<p class="card-text text-left" style="font-size:1em; color: black;">
    <span class="badge badge-primary">{{id}}</span> {{burger_name}} 
    <button class="btn btn-deep-orange btn-sm change-devour"  data-id="{{id}}" data-devour="{{devour}}">
		{{!-- {{#if devoured}}Consume{{else}}TBD{{/if}} --}}
        Consume!
	</button>
</p>