<div class="container" style="margin-top: 2.5vh; background-color:transparent;">
    <div class="row" style="background-color:transparent;">
        {{!-- Burger Shop Logo --}}
        <div class="col-md-12">
            <div class="card" style="background-color: beige;">
                <div class="card-body text-center">
                    <h1 class="card-title"><img
                            src="https://thecove.us/wp-content/uploads/2017/01/cove-logo-horizontal-200.jpg"></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 2.5vh; margin-bottom: 2.5vh;">
        {{!-- Add a new burger to Menu --}}
        <div class="col-md-4">
            <div class="card " style="border:5px dotted green;">
                <div class="card-body text-center">
                    <div class="md-form input-group mb-3">
                        <input type="text" class="form-control" id="burgerName">
                    </div>
                    <button type="button" class="btn btn-success" id="addToMenu">
                        Add
                    </button>
                    <p class="text-muted" style="font-size: .8em; margin-top:1.5vh;">Fresh additions to our Menu.</p>
                </div>
            </div>
        </div>

        {{!-- // Menu Items --}}
        <div class="col-md-4">
            <div class="card" style="border:5px dotted red;">
                <div class="card-body text-center">
                    <h3 class="card-title">Choose From Mouth Watering Options!</h3>
                    {{#each burgers}}
                    {{#unless this.devoured}}
                    <p class="card-text text-left" style="font-size:1em; color: black;">
                        <button class="button btn-primary btn-sm eat-the-burger" id={{id}}>{{id}}</button>
                        {{burger_name}}
                    </p>
                    {{/unless}}
                    {{/each}}
                </div>
            </div>
        </div>
        {{!-- // Burgers tried already --}}
        <div class="col-md-4" id="devoured">
            <div class="card" style="border:5px dotted blue;">
                <div class="card-body text-center">
                    <!-- Title -->
                    <h3 class="card-title">Tried and Tested!</h3>
                    <!-- Text -->
                    {{#each burgers}}
                    {{#if this.devoured}}
                    <p class="card-text text-left" style="font-size:1em; color: black;">
                        <span class="badge badge-danger">{{id}}</span> {{burger_name}}
                    </p>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>